/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #000028;
  --main-font-color: #f1b2ce;
  --header-font-color: #db00ff;
  --header-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --accent-font-color: #000028;
  --accent-block-color: #ff0070;
  --hover-color: #ff007066;
  --background-page: url(../images/cover-image-dark.png);
  --main-indent-inline: 20px;
  --main-indent-block: 80px;
  --main-font: "IBM Plex Mono", sans-serif;
}

@media (width < 768px) {
  .page.theme_dark {
    --header-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --main-indent-inline: 10px;
    --main-indent-block: 50px;
  }
}
